<header>
    <!--Despacho-->
    <div id="OfertaDespacho">
        <div id="letra">
            Despacho RM: $2.990 - Despacho gratis por compras sobre $29.990(RM) // Despacho V Región $1.990
        </div>
    </div>

    <!--menu con buscador-->
    

    <!--Menu categorias-->
    <nav class="navegacion">
        <ul class= "menu">
            <li><a href="/">HOME</a></li>
            <li>
                <a href="#">LICORES
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </a>
                <ul class="submenu">
                    <li><a href="#">APERITIVOS Y BAJATIVOS</a></li>
                    <li><a href="#">GIN</a></li>
                    <li><a href="#">VODKA</a></li>
                    <li><a href="#">RON</a></li>
                    <li><a href="#">TEQUILA</a></li>
                    <li><a href="#">OTROS</a></li>
                </ul>
            </li>
            <li><a href="#">CERVEZAS</a></li>
            <li>
                <a href="#">VINOS Y ESPUMANTES
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </a>
                <ul class="submenu">
                    <li><a href="#">VINOS TINTOS</a></li>
                    <li><a href="#">VINOS BLANCOS</a></li>
                    <li><a href="#">ESPUMANTES</a></li>
                </ul>
            </li>
            <li><a href="#">PISCOS</a></li>
            <li><a href="#">WHISKY</a></li>
            <li>
                <a href="#">BEBIDAS
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </a>
                <ul class="submenu">
                    <li><a href="#">GASEOSAS</a></li>
                    <li><a href="#">ENERGÉTICAS</a></li>
                </ul>
            </li>
            <li><a href="#">SNACK</a></li>
            <li>
                <a href="#">CLUB
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                </a>
                <ul class="submenu">
                    <li><a href="#">INICIA SESIÓN</a></li>
                    <li><a href="#">REGISTRATE</a></li>
                </ul>
            </li>
            <li><a href="#">SIGUE TU COMPRA</a></li>
            <li><a href="#">CARRO DE COMPRA</a></li>
        </ul>
    </nav>
    
</header>